.Todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  max-width: 600px;
  min-height: 2.5rem;
}

.todo-content {
  display: flex;
  align-items: center;
  word-break: break-all;
  padding: 0.5rem 0;
}

.todo-text:hover {
  cursor: pointer;
}

.delete-btn {
  margin: 0 1rem;
  background: transparent;
  border: 0;
}

.delete-btn:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {

  .Todo {
    min-height: 3.5rem;
  }
}
